/*seccion galeria*/
.chef h2{
    background-color: var(--rojo);
    display: inline-block;
    padding: 1rem 3rem;
    color: var(--blanco);
    font-size: 4rem;
}
.chef{
    padding-top: 4rem;
}
@media(min-width: 768px) {
    .container-img{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
}
.box-img{
    background-color: #ff9c3f;
    flex: 0 0 calc(33.3% - 1rem);
    border:10px solid bisque;
    padding: 2rem;
    border-radius: 5px;
}

.box-img{
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
}
.box-img:hover{
    --escala: 0.9;
    cursor:pointer;
}

/*.box-img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}*/
