/*Platillos*/
.texto-platillos{
    text-align: center;
    font-size: 5rem;
}

.botones-platillos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.botones-platillos button{
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
}
@media(min-width: 768px) {
    .botones-platillos{
        display: inline-block;
    }
    .botones-platillos button{
        flex: unset;
    }
}
@media(min-width: 768px) {
    .platillos{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
}
.platillo{
    background-color: rgb(230, 183, 130);
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #e1e1e1;
    padding: 2rem;
    border-radius: 5px;
}
/*.platillo img:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ff9c3f;
    -webkit-box-shadow: 0px 0px 15px 15px #ff9c3f;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}*/
.platillo h2{
    text-align: center;
}
.platillo p{
    font-size: 1.8rem;
    text-align: center;
}
.precio{
    display: flex;
    justify-content: space-between;
}
.precio p{
    font-weight: bold;
    font-size: 2rem;
}
.precio button{
    padding:1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--rojo);
    color: var(--blanco);
    height: 3.8rem;
}

